
<!-- Page Content -->
<div class="container"><br/><br/>
  <ng-container *ngIf="language === 'Korean';else english">
    <div class="sub-header">
      <h2 class="text-2xl mt-3">경험 기술 (Experienced Skill)</h2>

    </div>
    <hr>

    <!-- Post Content Column -->
    <p class="text-xl mt-6">Angular framework & RxJS 교육 이력</p>
    <ol class="list-disc ml-6">
      <li class="mt-4">
        <div>교육이력</div>
        <p>-  Angular 및 RxJS 의 고급기술 들을 신입사원을 대상으로 12개월간 주 3회 이상 1시간 정도 교육을 하였음.</p>
        <p>-  내용: Angular 및 RxJS, Text의 기본 내용 및 Medium daily digest 에서 제공하는 article 중
          난이도가 있고 실용성이 있는 내용을 중심으로 교육하였음..</p>
        <p>Angular & RxJS : <a class="text-blue-700" href="https://wsjung0516.github.io/angular/">Details</a></p>
        <!--          <p>RxJS: <a class="text-blue-700" href="https://wsjung0516.github.io/rxjs/">Details</a></p>-->
      </li>
    </ol>


    <p class="text-xl mt-6">Angular project 설계 고려사항</p>
    <ol class="list-disc ml-6">
      <li class="mt-6">
        <div>TDD</div>
        <div>프로그램의 기본 개발은 항상 TDD를 염두에 두고 개발함. 테스트를 적용할 수 없는 함수 개발을 배제함.
          프로그램 개발시에는 Angular 기본 test framework 인 jasmine의 기능을 보완하여, boilerplate 를 제거하여
          test code를 단순하게 할 수 있는 library (spectator)를 적용함.</div>
      </li>
      <li class="mt-6">
        <div>State Management</div>
        <div>프로그램 전체의 각 모듈별로 변경되는 데이터의 상태를 모니터링하거나 업데이트하여 연관된 모듈들이 변경된 데이터를 즉시 수신이 가능하도록 함.</div>
        <div><span style="color: #3366ff;">적용기술: Redux ( ngxs : Angular전용 상태관리 프로그램)&nbsp;</span></div>
      </li>
      <li class="mt-6">
        <div>Reactive Programming</div>
        <div>함수형 프로그램 방식으로 프로그램밍 하여 프로그램이 간결하고 오류 발생을 최소화할 뿐아니라, 생산성 및 유지보수성을 향상 시킴.</div>
        <div><span style="color: #3366ff;">적용기술: RxJS</span></div>
      </li>
      <li class="mt-6">
        <div>Error Handling</div>
        <div>프로그램 전체에서 발생하는 오류에 대해서 한개의 모듈에 처리함. Http오류, Server오류, 내부 프로그램 오류로 분류하여 표시하거나 서버에 저장함. 각 모듈에서는 오류처리를 별도로 하지 않고 단지 오류 발생한 정보를 전달하는 기능만 구현함.&nbsp;</div>
        <div><span style="color: #3366ff;">적용기술: Angular에서 제공하는 ErrorHandler 모듈을 상속받아 적용함.</span></div>
      </li>
      <li class="mt-6">
        <div>Reactive Form Validation</div>
        <div>프로그램 전체의 UI에 대해서 입력되는 데이터의 Validation을 담당함. 각 프로그램에서는 Validation에 대한 기능을 별도로 구현하지 않고, 단지 요구되는 Validation을 등록하기만 하고, 모든 처리는 하나의 모듈에서 구현함.&nbsp;</div>
        <div><span style="color: #3366ff;">적용기술: 필요한 validation 모듈은 개발하여 적용함.</span></div>
      </li>
      <li class="mt-6">
        <div>Http Interception</div>
        <div>서버와의 통신에서 발생하는 부가적인처리를 한 모듈 그룹에서 전담하도록 구현함. Http 통신 데이터의 Caching 기능, Http 통신시 Spinner 처리, 데이터 Converting JSON/JS, XML/JSON, Header정보를 추가함( &nbsp;data type, contexts), Communication Status Message 전시, 물리적인 통신 오류 발생시 재전송 &nbsp;처리, &nbsp;데이터 처리 시간등에 대한 로그처리, 테스트를 위한 Fake Server 기능, Authentication 기능 ( bearer token 추가, refresh token, redirect login page) &nbsp;구현</div>
        <div><span style="color: #3366ff;">적용기술: Angular에서 제공하는HttpInterceptor 모듈을 상속받아 적용함.</span></div>
      </li>
      <li class="mt-6">
        <div>Overlay</div>
        <div>Angular Material, Bootstrap등이 제공하는 UI Component가 적합하지 않거나, 다이나믹하게 데이터를 전시하는 기능등을 위하여 별도 개발하여 구현함.</div>
        <div><span style="color: #3366ff;">적용기술: Angular Material, Angular CDK</span></div>
      </li>
      <li class="mt-6">
        <div>Data Table</div>
        <div>사용자의 요구사항에 맞게, 데이터 테이블에 다양한 기능을 포함하여야 하는 경우에 대비하여 필요 시 빠르게 수정 변경이 가능하게 구현함.</div>
        <div><span style="color: #3366ff;">적용기술: Angular Material, Angular CDK Material&nbsp;</span></div>
      </li>
      <li class="mt-6">
        <div>Angular Animation</div>
        <div>특정 UI는 에니메이션 기능을 적용하여 사용자의 가독성 증가 및 데이터의 실시간성을 제공함.</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Angular, RxJS</p>
    <ol class="list-disc ml-6">
      <li>
        <div>경험기간: 2016 ~ 2021 (5년)</div>
      </li>
    </ol>
    <p class="text-xl mt-6">Programming Language</p>
    <ol class="list-disc ml-6 mt-3">
      <li>
        <div>C, C++</div>
        <div>경험기간: 1988 ~ 1997</div>
      </li>
      <li>
        <div>Java</div>
        <div>경험기간: 2015 ~ 2017</div>
      </li>
      <li>
        <div>Javascript</div>
        <div>경험기간: 2016 ~ 현재</div>
        <div>Angular Framework 적용</div>
        <div>Ionic Framework 적용 (12개월)</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Backend</p>
    <ol class="list-disc ml-6">
      <li>nestjs(backend framework), Prisma (ORM library)를 적용하여 프로젝트를 수행한 경험이 있음.</li>
      <li>GraphQL, Applo를 적용하여 프로젝트를 수행한 경험이 있음.</li>
    </ol>
    <ol class="list-disc ml-6">
      <li class="mt-3">
        <div>RDBMS</div>
        <div>MySQLS</div>
      </li>
      <li class="mt-3">
        <div>NoSQL</div>
        <div>MongoDB, Firebase</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">기타</p>
    <ol class="list-disc ml-6">
      <li class="mt-3">
        <div>REST API</div>
        <div>인터페이스 설계 및 적용한 경험이 있음.</div>
      </li>
      <li class="mt-3">
        <div>Nodejs</div>
        <div>서버설계 및 적용한 경험이 있음.</div>
      </li>
      <li class="mt-3">
        <div>AWS</div>
        <div>데모프로젝트 수행시 EC2서버를 사용하여 적용한 경험이 있음.</div>
      </li>
      <li class="mt-3">
        <div>의료영상 전용 library</div>
        <div>cornerstone cornerstone-tools 적용한 경험이 있음.</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">관심분야</p>
    <ol class="list-disc ml-6">
      <li>
        <div>Angular, RxJS</div>
        <div>고급 응용 기술 습득.</div>
      </li>
    </ol>
    <br/>
  </ng-container>
<!---------------------------------  English part  -------------------------->
  <ng-template #english>
    <div class="sub-header">
      <h2 class="text-2xl mt-3">Experienced Skill</h2>
    </div>
    <hr>

    <!-- Post Content Column -->
    <p class="text-xl mt-6">Angular framework and RxJS training history</p>
    <ol class="list-disc ml-6">
      <li class="mt-4">
        <div>Training History</div>
        <p>-  Advanced technologies of Angular and RxJS were trained for 1 hour at least 3 times a week for 12 months for new employees.</p>
        <p>-  Content: Angular, RxJS, basic content of Text, and articles provided by Medium daily digest
          The training was focused on content that was difficult and practical.</p>
        <p>Angular & RxJS : <a class="text-blue-700" href="https://wsjung0516.github.io/angular/">Details</a></p>
        <!--          <p>RxJS: <a class="text-blue-700" href="https://wsjung0516.github.io/rxjs/">Details</a></p>-->
      </li>
    </ol>


    <p class="text-xl mt-6">Angular project design considerations</p>
    <ol class="list-disc ml-6">
      <li class="mt-6">
        <div>TDD</div>
        <div>The basic development of the program is always developed with TDD in mind.
          Excludes the development of functions for which tests cannot be applied.
          When developing programs, used libraries (spectators) that can simplify test code
          and remove boilerplate, which complements the features of jasmine, Angular's native testing framework.
          </div>
      </li>
      <li class="mt-6">
        <div>State Management</div>
        <div>By monitoring or updating the status of the changed data for each module in the entire program, the related modules can receive the changed data immediately.</div>
        <div><span style="color: #3366ff;">Applied technology: Redux ( ngxs : State management program for Angular)&nbsp;</span></div>
      </li>
      <li class="mt-6">
        <div>Reactive Programming</div>
        <div>By programming in a functional programming method, the program is concise and errors are minimized, and productivity and maintainability are improved.</div>
        <div><span style="color: #3366ff;">Applied technology: RxJS</span></div>
      </li>
      <li class="mt-6">
        <div>Error Handling</div>
        <div>Errors occurring throughout the program are handled in one module. Classified as Http error, Server error, and internal program error, displayed or stored in the server.
          Each module implements only the function of passing the error occurred information without separately handling the error.</div>
        <div><span style="color: #3366ff;">Applied technology: Inherit and apply the ErrorHandler module provided by Angular.</span></div>
      </li>
      <li class="mt-6">
        <div>Reactive Form Validation</div>
        <div>Responsible for validation of input data for the entire UI of the program. In each program, the function for validation is not implemented separately,
          only the required validation is registered, and all processing is implemented in one module.</div>
        <div><span style="color: #3366ff;">Applied technology: The necessary validation module is developed and applied.</span></div>
      </li>
      <li class="mt-6">
        <div>Http Interception</div>
        <div>It is implemented so that one module group is dedicated to the additional processing that occurs in communication with the server.
          Caching function of Http communication data, Spinner processing during Http communication, Data converting JSON/JS, XML/JSON,
          Communication Status Message display, retransmission in case of physical communication error processing,
          Implementation of log processing for data processing time, etc.</div>
        <div><span style="color: #3366ff;">Applied technology: Inherit and apply the HttpInterceptor module provided by Angular.</span></div>
      </li>
      <li class="mt-6">
        <div>Overlay</div>
        <div>If the UI component provided by Angular Material, Bootstrap, etc. is not suitable, or for the function of dynamically displaying data, it is separately developed and implemented.</div>
        <div><span style="color: #3366ff;">Applied technology: Angular Material, Angular CDK</span></div>
      </li>
      <li class="mt-6">
        <div>Data Table</div>
        <div>It is implemented so that it can be modified and changed quickly if necessary in case
          it is necessary to include various functions in the data table according to the user's requirements.</div>
        <div><span style="color: #3366ff;">Applied technology: Angular Material, Angular CDK Material&nbsp;</span></div>
      </li>
      <li class="mt-6">
        <div>Angular Animation</div>
        <div>Certain UIs apply animation functions to increase user readability and provide real-time data.</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Angular, RxJS</p>
    <ol class="list-disc ml-6">
      <li>
        <div>experience period: 2016 ~ 2021 (5 Years)</div>
      </li>
    </ol>
    <p class="text-xl mt-6">Programming Language</p>
    <ol class="list-disc ml-6 mt-3">
      <li>
        <div>C, C++</div>
        <div>experience period: 1988 ~ 1997</div>
      </li>
      <li>
        <div>Java</div>
        <div>experience period: 2015 ~ 2017</div>
      </li>
      <li>
        <div>Javascript</div>
        <div>experience period: 2016 ~ present</div>
        <div>Angular Framework Applied</div>
        <div>Ionic Framework Applied (12 Months)</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Backend</p>
    <ol class="list-disc ml-6">
      <li>nestjs(backend framework), Experienced in carrying out projects by applying Prisma (ORM library).</li>
      <li>Experienced project applying GraphQL and Applo.</li>
    </ol>
    <ol class="list-disc ml-6">
      <li class="mt-3">
        <div>RDBMS</div>
        <div>MySQLS</div>
      </li>
      <li class="mt-3">
        <div>NoSQL</div>
        <div>MongoDB, Firebase</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Etc.</p>
    <ol class="list-disc ml-6">
      <li class="mt-3">
        <div>REST API</div>
        <div>Experience in interface design and application.</div>
      </li>
      <li class="mt-3">
        <div>Nodejs</div>
        <div>Server design and application experience.</div>
      </li>
      <li class="mt-3">
        <div>AWS</div>
        <div>I have experience applying using EC2 (AWS) server when carrying out demo project.</div>
      </li>
      <li class="mt-3">
        <div>Medical image library</div>
        <div>Experienced applying cornerstone cornerstone-tools.</div>
      </li>
    </ol>
    <hr>
    <p class="text-xl mt-6">Interests</p>
    <ol class="list-disc ml-6">
      <li>
        <div>Angular, RxJS</div>
        <div>Acquire advanced application skills.</div>
      </li>
    </ol>
    <br/>

  </ng-template>
</div>
