
<!-- Page Content -->
<div class="container"><br/><br/>
  <ng-container *ngIf="language === 'Korean';else english">
    <div class="sub-header">
      <p class="text-2xl font-bold mt-3">이력서(Resume)</p>

    </div>
    <hr>

    <!-- Post Content Column -->

    <p class="mt-4">[주소] 서울 동작구 대방동,&nbsp;|&nbsp;&nbsp;[전화 번호]&nbsp;010-5014-6735, |&nbsp;&nbsp;[전자 메일] wonsup.jung@gmail.com</p>
    <p class="font-bold mt-3">교육</p>
    <p>석사&nbsp;|1994.8 ~ 1998.2| 연세대학교 산업대학원</p>
    <p>전공: 전자계산학</p>
    <p>학사&nbsp;|&nbsp;1984.2 ~ 1988.2&nbsp;|&nbsp;서강대학교</p>
    <p>전공: 화화공학과</p>
    <p class="font-bold mt-3">기술자격사항</p>
    <p>정보통신기술사, 2002년 취득, 한국산업인력공단.</p>
    <hr>
    <p class="font-bold mt-3">어학자격</p>
    <p>영어: 구사능력(중상), 비즈니스 커뮤니케이션 가능</p>
    <hr>
    <p class="font-bold  mt-3">경력</p>
    <p>개발자&nbsp;|&nbsp;㈜모니터코퍼레이션&nbsp;|&nbsp;2019.12 ~ 2021.9 (22개월)</p>
    <p>의료분야: CT 이미지(폐 암진단)를 AI 방법으로 분석한 결과를 화면에 조회하거나. AI가 분석하지
      못한 암 결절이 있다면, 영상분석 전문가가 수동으로 조회 가능하고 marking 할 수 있는 기능을 제공.
      그리고 marking한 결과를 다신 인공지능 시스템에 입력이 가능하도록 하는 UI 개발</p>
    <p>[개발환경] :&nbsp;Angular, RxJS, Redux, Nodejs Nestjs, Prisma, cornerstone, cornerstoneTools</p>
    <p> [담당업무] : UI 개발 및 교육 (개발팀장)</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">과장&nbsp;|&nbsp;㈜아이쿱&nbsp;|&nbsp;2019.9 ~ 2019.12 (3개월)</p>
    <p>의료분야: 의사가 환자의 진찰내용을 PC에서 작성하고, 그 결과를 환자가 직접의 mobile device에서 확인할 수 있는 UI 개발</p>
    <p>[개발환경] :&nbsp;Angular, RxJS, Redux</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">부장&nbsp;|&nbsp;㈜티쓰리큐&nbsp;|&nbsp;2019.1 ~ 2019.7 (7개월)</p>
    <p>이미지데이터, 시사문서(신문 매체 등) 들을 인공지능 방법으로 분석한 결과 데이터를 조회하는 UI 개발</p>
    <p>[개발환경] :&nbsp;Angular, RxJS, Redux</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">프리랜서&nbsp;|&nbsp;&nbsp;&nbsp;2018.5.1 ~ 2018. 12. 30 (8개월)</p>
    <p>골프장 예약 관리 프로그램 app(ionic) 및 서버(Angular) 개발</p>
    <p>[개발환경] Angular, ionic, RxJS</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">프리랜서&nbsp;|&nbsp;2017.10.1 ~ 2017.10.30 (1개월)</p>
    <p>한화SNC BIGDATA 프로그램 자동운용환경 구축 프로젝트</p>
    <p>[담당업무] Angular를 사용하여 BIGDATA 분석을 위한 다양한 응용프로그램을 자동 설치하는 GUI 개발</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">프리랜서 2017.7 ~ 2017.9.30 (3개월)</p>
    <p>Tryus&amp;Company 홈페이지 구축 및 Dashboard 개발</p>
    <p>[개발환경]
      Angular를 사용하여Dashboard개발(Download수, 제품등록수, 사용고객수, Retention 등</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">부장&nbsp;|&nbsp;㈜도전하는사람들&nbsp;|&nbsp;2015.12 ~ 2016.10 (11개월)</p>
    <p>개인정보보호 솔루션 개발</p>
    <p>[개발환경] :</p>
    <p>Spring, Java 및 다양한 Third part 솔루션을 적용하여 개발</p>
    <p>[제품설명] :</p>
    <p>개인정보를 취급하는 공공기관이나, 일반 업체에서 개인정보를 무단으로 사용하는 것을 방지하기 위한 솔루션</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">부장&nbsp;|&nbsp;삼성SDS&nbsp;|&nbsp;1995.4 ~ 2014.5 (20년)</p>
    <p>전투기 관제 시스템 개발 프로젝트</p>
    <p>기간: 2007.7 ~ 2009.10</p>
    <p>[담당업무]: 미국 Thales Raytheon 사로 부터 시스템을 도입하여 국내에 설치 및 테스트 담당 PL</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1"> 부장&nbsp;|&nbsp;삼성SDS&nbsp;| 탄도탄 방어시스템 체계 개발 프로젝트</p>
    <p>기간: 2009.10 ~ 2014.5</p>
    <p>[담당업무]: 미국 Northrop Grumman 사로 부터 시스템을 도입하여 국내에 설치 및 테스트 PM</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">과장&nbsp;|&nbsp;SKC&amp;C&nbsp;|&nbsp;1991.2 ~ 1995.3 (4년 2개월)</p>
    <p>[주요 수행 프로젝트]</p>
    <p>주유소, 저유소 유류 판매 자동화 시스템 개발 프로젝트</p>
    <p>[담당업무]프로그램개발(C++, C)</p>
    <p>--------------------------------------------------------</p>
    <p class="font-bold  mt-3" >개발자로서 각오 한마디 </p>
    <p class="mt-3">저는, 소프트웨어 개발을 천직으로 생각하고 있던 차에, 더 개발을&nbsp; 잘 하려고 삼성SDS (1995.4)
      입사를 했다가, 삼성SDS는 프로젝트 관리를 주로 하고 프로그램 개발을 협력업체가 전담하는 구조로,
      거기서 머물러 정년퇴임(2014.5)까지 세월을 보냈습니다.</p>
    <p>그리고 정년퇴임 후 내가 하고 싶은 일을 다시 하게 된 사람입니다.</p>
    <p>2014년부터 다시 시작했고, Angular를 시작(2016년 8월)한지는 5년이 되었습니다.
      Angular의 왠만한 기능을 구현하는데, 어려움은 없고, 대규모 프로젝트를 위해서 최근에는 Redux, RxJS,
      Angular, HttpInterceptor, Cdk, Backend (graphQL, Apollo, nestjs, prisma) 등 고급기술을 적절히 적용한 경험이 있습니다.</p>
    <p>과거의 저의 이력과 경험을 비추어, 제가 맡은 바 일은 잘 할 것으로 믿어 주시 길 바랍니다.&nbsp;</p>

  </ng-container>
<!------------------------------------ English part --------------------------------------->
  <ng-template #english>
    <div class="sub-header">
      <p class="text-2xl font-bold mt-3">Resume</p>

    </div>
    <hr>

    <!-- Post Content Column -->

    <p class="mt-4">[Address] Seoul, Korea&nbsp;|&nbsp;&nbsp;[Mobile]&nbsp;82-10-5014-6735, |&nbsp;&nbsp;[Email] wonsup.jung@gmail.com</p>
    <p class="font-bold mt-3">Education</p>
    <p>Master&nbsp;|1994.8 ~ 1998.2 | Yonsei University in Korea</p>
    <p>Major: Computer science</p>
    <p>Bachelor&nbsp;|&nbsp;1984.2 ~ 1988.2 |&nbsp;Sogang University in Korea</p>
    <p>Major: Chemical Engineering</p>
    <hr>
    <p class="font-bold mt-3">Language skills</p>
    <p>English: Able to business communication and writing</p>
    <hr>
    <p class="font-bold  mt-3">Experience</p>
    <p>Web developer&nbsp;|&nbsp;Monitorcorporation Co.&nbsp;|&nbsp;2019.12 ~ 2021.9 (22 Months)</p>
    <p> Medical: Provides a screen to inquire the results of analyzing CT images (lung cancer diagnosis) by AI method.
      If there are cancer nodules that AI has not analyzed, they can be manually identified and marked by an image analysis expert.
      And UI development that allows the marking result to be input into the AI analyse system again</p>
    <p>&nbsp;[Development Environment] :&nbsp;Angular, RxJS, Redux, Nodejs Nestjs, Prisma, cornerstone, cornerstoneTools</p>
    <p> [Responsibilities] : Development UI and training (As a Team manager)</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">Web developer&nbsp;|&nbsp;Icoop Co.&nbsp;|&nbsp;2019.9 ~ 2019.12 (3 Months)</p>
    <p> Medical: UI development where the doctor writes the patient's examination details on the PC
      and the patient can check the results directly on the mobile device</p>
    <p>[Development Environment] :&nbsp;Angular, RxJS, Redux</p>
    <p> [Responsibilities] : Development UI</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1"> Web developer&nbsp;|&nbsp;T3Q Co.|&nbsp;2019.1 ~ 2019.7 (7 Months)</p>
    <p> Development of UI to inquire data analyzed by artificial intelligence method of
      image data and current affairs documents (newspaper media, etc.)</p>
    <p>[Development Environment] :&nbsp;Angular, RxJS, Redux</p>
    <p> [Responsibilities] : Development UI</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">Freelancer&nbsp;|&nbsp;&nbsp;&nbsp;2018.5.1 ~ 2018. 12. 30 (8 Months)</p>
    <p> Golf course reservation management program development</p>
    <p>[Development Environment] :&nbsp;Angular, Ionic, RxJS, Redux</p>
    <p> [Responsibilities] : Development UI</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1"> Freelancer&nbsp;|&nbsp;2017.10.1 ~ 2017.12.30 (3 Months)</p>
    <p> (Hanwha Group)BIGDATA program automatic operation environment construction project</p>
    <p>[Development Environment] :&nbsp;Angular, RxJS, Redux</p>
    <p> [Responsibilities] : Development UI</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">Freelancer 2017.7 ~ 2017.9.30 (3 Months)</p>
    <p> (for Tryus&amp;Company Co.) Website and Dashboard development</p>
    <p>[Development Environment] :&nbsp;Angular</p>
    <p> [Responsibilities] : Development UI</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">Manager of development&nbsp;|&nbsp;Dosanet Co.&nbsp;|&nbsp;2015.12 ~ 2016.10 (11 Months)</p>
    <p>Development of personal information protection solution</p>
    <p>A solution to prevent unauthorized use of personal information
      by public institutions or general companies that handle personal information</p>
    <p>[Development Environment] :&nbsp;Spring, java</p>
    <p> [Responsibilities] : System design and Test</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1"> Director&nbsp;|&nbsp;SAMSUNG SDS&nbsp;|&nbsp;1995.4 ~ 2014.5 (19 Years 2 Months)</p>
    <p>[Responsibilities]: Project management</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1">Manager&nbsp;|&nbsp;SKC&amp;C&nbsp;|&nbsp;1991.2 ~ 1995.3 (4 Years 2 Months)</p>
    <p>[Development Environment] :&nbsp;C++ </p>
    <p> [Responsibilities] : Development UI and Application program</p>
    <p>--------------------------------------------------------</p>
    <p class="mt-1"> Developer | Oriental Chemistry Co. | 1988.2 ~ 1991.1 (3 Years 2 Months)</p>
    <p>[Development Environment] : C, C++</p>
    <p> [Responsibilities] : Development UI and Application program</p>
    <p>--------------------------------------------------------</p>
    <p class="font-bold  mt-3" >A word of commitment as a Web developer</p>
    <p class="mt-3">I thought of software development as a job given by heaven and wanted to be programmer, but Samsung SDS (1995.4)
      that joined the company as an experienced employee, I was mainly responsible for managing partner companies.
      and I retired (May 2014).</p>
    <p>And after I retired, I was able to do what I wanted to do again.</p>
    <p>I started programming again in 2014, and it has been 5 years since I started Angular (August 2016).
      And recently, I have experience with proper application of advanced technologies like Redux(NgXS),
      RxJS, Angular, Cdks, Backend (graphQL, Apollo, nestjs, prisma) and Etc.</p>
    <p>Based on my past history and experience, I hope you will believe that I will do my job well</p>

  </ng-template>
</div>
